.header {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; font-variant: normal; text-transform: none; color: #336699; text-decoration: none}
.homebox {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: bold; font-variant: normal; text-transform: none; color: FF6600; text-decoration: none}
.text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; font-variant: normal; text-transform: none; text-decoration: none; color: 1B4E81}
.header_beyaz 
{  font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 9pt; font-weight: bold; 
font-variant: normal; 
text-transform: none; 
color: F0F8FF; 
text-decoration: none}
.header_mavi {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; font-variant: normal; text-transform: none; color: 1B4E81; text-decoration: none}
.text_beyaz {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; font-variant: normal; text-transform: none; color: #204264; text-decoration: none}
.update {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; font-variant: normal; text-transform: none; color: #2E5B89; text-decoration: none}
a:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; font-variant: normal; text-transform: none; color: #FF6600; text-decoration: none}
.sonuc {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; font-variant: normal; text-transform: none; color: F0F8FF; text-decoration: none}
.cigate_header {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; font-variant: normal; text-transform: none; color: #575757; text-decoration: none}
.abandon {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; font-variant: normal; text-transform: none; color: #2D5986; text-decoration: none}
.yeni {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 9pt; font-weight: bold; font-variant: normal; text-transform: none; color: #02579D; text-decoration: none}
